<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{{ title }}</title>
  </head>
  <body style="padding-left:5%; padding-right:5%">
    <h1 style="text-align: center">Historics</h1>
    <div class="clearfix" >
    <table class="table table-striped" style="margin:auto">
      <thead>
      <tr>
        <th>Create Time</th>
        <th>Incident No.</th>
        <th>Short Description</th>
        <th>Responded Date/Time</th>
        <th>Resolved Date/Time</th>
      </tr>
      </thead>
      <tbody>
      {% for incident in resultList %}
      <tr>
        <td>{{incident.createTime}}</td>
        <td>{{incident.incidentNum}}</td>
        <td>{{incident.shortDesc}}</td>
        <td>{{incident.respondedTime}}</td>
        <td>{{incident.resolvedTime}}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="clearfix">
  </body>
</html>
